.card:hover {
  border-color: rgb(92, 2, 95);
  border-width: 2px;
}
iframe:hover {
  opacity: 0.85;
}

/* responsive */

/* @media screen and (min-width: 750) {
  #res-item {
    min-width: 200px;
  }
} */
