.card:hover {
  border-color: rgb(92, 2, 95);
}
iframe:hover {
  opacity: 0.85;
}

main {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* responsive */

@media screen and (max-width: 670px) {
  result-match-item {
    margin: 0px;
    padding: 0px;
  }
}
