<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#DB0000" />
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./andball.webmanifest" />

    <title>AND-BALL</title>
  </head>
  <body style="background-color: rgb(194, 212, 199)">
    <header>
      <app-bar></app-bar>
    </header>
    <main class="container mx-auto" style="min-height: 900px">
      <results-match-list class="row mx-auto"></results-match-list>
    </main>
    <footer
      class="mt-2 d-flex justify-content-center shadow-lg border border-secondary border-opacity-50 rounded-top rounded-3"
    >
      <p class="justify-content-center p-2 fs-4">
        Created With Love By Andrian
      </p>
    </footer>
  </body>
</html>
